# Node modules
handcrafted-heaven-backend/node_modules/

# Lock file
handcrafted-heaven-backend/package-lock.json

# Swagger output
handcrafted-heaven-backend/config/swagger-output.json

# .env
handcrafted-heaven-backend/.env